*,
*:before,
*:after {
	box-sizing: border-box;
}
body{
	margin: 0;
}
img {
	max-width: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.sidebar {
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color:#9cb0c7;
}
.left{
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color: #c798b8;
	order: -1;
}

.logo-picture{
	width: 140px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff0;
	padding: 15px;
}
.bar-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.bar-list li {
	margin: 10px;
}
.bar-list a {
	text-decoration: none;
	color: #000;
}

.main{
	display: flex;
	width: 100%;
	flex-grow: 1;
}
.content{
	flex-grow: 1;
	padding: 20px;
}

.content-header {
	display: block;
	text-align: center;
	font-size: 1.25em;
	margin-bottom: 30px;
}

.card-box{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.card{
	margin: 0 10px 20px;
	width: calc(33.333% - 20px);
	padding: 10px 15px 15px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card-content {
	width: 100%;
}

.btn{
	text-decoration: none;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 3em;
	border: 2px solid #f50;
	color: #fff;
	background-color: #f90;
}

.image-box{
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid blue;
}

.image-box img{
	vertical-align: top;
}

.page-footer {
	padding: 10px 15px;
	background-color: rgba(0, 255, 0, .5);
	text-align: center;
}